* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: hsl(1, 97%, 97%);
}

.wrapper {
    width: 90%;
    margin: 10em auto 0;
}

.wrapper2 {
    width: 90%;
    margin: 3em auto 0;
}

img {
    width: 250px;
    margin: auto;
    display: block;
    border-radius: 10px;
}

.index {
    text-align: center;
    padding: 1em;
}

h1 {
    text-align: center;
}

.wrapper p {
    text-align: center;
    font-family: "JetBrains Mono", monospace;
}


a {
    background-color: hsl(1, 90%, 93%);
    color: black;
    display: block;
    margin: auto;
    width: 200px;
    border-radius: 10px;
    border: solid 3px hsl(1, 65%, 70%);
    text-decoration: none;
    font-weight: bold;
}

a p {
    text-align: center;
}

.rubrik {
    margin: 2em auto 1em;
}

.wrapper2 p {
    margin-top: -0.5em;
    font-family: "JetBrains Mono", monospace;
}

.wrapper2 div {
    display: flex;
    flex-direction: column;
    background-color: hsl(1, 90%, 93%);
    border: solid 1px hsl(1, 65%, 70%);
    border-radius: 30px;
    padding: 1em;
    margin-bottom: 1.5em;
}
